@using MonkeyBanker.Entities
@using MonkeyBanker.Web.Models
@model CrudDetailsViewModel<Person>

@{
    ViewBag.Title = "Delete a person";
}

<h2>Delete a person</h2>

<div>
    Are you sure you want to delete the following Person:
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(m => m.Entity.ID)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.Entity.ID)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(m => m.Entity.GivenName)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.Entity.GivenName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(m => m.Entity.FamilyName)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.Entity.FamilyName)
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <button class="btn btn-default" type="submit">Delete</button>
}