@using MonkeyBanker.Entities;
@using MonkeyBanker.Web.Models;
@model CrudIndexViewModel<Person>

@{
    ViewBag.Title = "People";
}

<h2>People</h2>

@Html.ActionLink("Create new", "Create")
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Entitites.First().ID)</th>
            <th>@Html.DisplayNameFor(m => m.Entitites.First().GivenName)</th>
            <th>@Html.DisplayNameFor(m => m.Entitites.First().FamilyName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var person in Model.Entitites)
        {
            <tr>
                <td>@Html.DisplayFor(m => person.ID)</td>
                <td>@Html.DisplayFor(m => person.GivenName)</td>
                <td>@Html.DisplayFor(m => person.FamilyName)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ID = person.ID}) |
                    @Html.ActionLink("Delete", "Delete", new { ID = person.ID})
                </td>
            </tr>
        }
    </tbody>
</table> 

