@using MonkeyBanker.Entities
@using MonkeyBanker.Web.Models
@model CrudDetailsViewModel<Account>
@{
    ViewBag.Title = "Delete an account";
}

<h2>Delete an account</h2>

<div>
    Are you sure you want to delete the following account?
</div>
<div class="container">
    <div class="row">
        <!--ID-->
        <div class="col-md-3">
            @Html.DisplayNameFor(m => m.Entity.ID)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.Entity.ID)
        </div>
    </div>
    <div class="row">
        <!--Holder-->
        <div class="col-md-3">
            @Html.DisplayNameFor(m => m.Entity.Holder)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.Entity.Holder.GivenName)
            @Html.DisplayFor(m => m.Entity.Holder.FamilyName)
        </div>
    </div>
    <div class="row">
        <!--Balance-->
        <div class="col-md-3">
            @Html.DisplayNameFor(m => m.Entity.Balance)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.Entity.Balance)
        </div>
    </div>
    <div class="row">
        <!--Balance-->
        <div class="col-md-3">
            @Html.DisplayNameFor(m => m.Entity.Bonuses)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.Entity.Bonuses)
        </div>
    </div>
    <div class="row">
        <!--Balance-->
        <div class="col-md-3">
            @Html.DisplayNameFor(m => m.Entity.Type)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.Entity.Type)
        </div>
    </div>
    <div class="row">
        <!--Balance-->
        <div class="col-md-3">
            @Html.DisplayNameFor(m => m.Entity.IsActive)
        </div>
        <div class="col-md-3">
            @if (Model.Entity.IsActive)
            {
                <text>True</text>
            }
            else
            {
                <text>False</text>
            }
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-default">Delete</button>
}