@using MonkeyBanker.Entities
@using MonkeyBanker.Web.Models
@model CrudIndexViewModel<Account>

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

<div>
    @Html.ActionLink("Create new", "Create")
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Entitites.First().ID)</th>
            <th>Holder</th>
            <th>@Html.DisplayNameFor(m => m.Entitites.First().Balance)</th>
            <th>@Html.DisplayNameFor(m => m.Entitites.First().Bonuses)</th>
            <th>@Html.DisplayNameFor(m => m.Entitites.First().Type)</th>
            <th>@Html.DisplayNameFor(m => m.Entitites.First().IsActive)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Account acc in Model.Entitites)
        {
            <tr>
                <td>@Html.DisplayFor(m => acc.ID)</td>
                <td>
                    @Html.DisplayFor(m => acc.Holder.GivenName)
                    @Html.DisplayFor(m => acc.Holder.FamilyName)
                </td>
                <td>@Html.DisplayFor(m => acc.Balance)</td>
                <td>@Html.DisplayFor(m => acc.Bonuses)</td>
                <td>@Html.DisplayFor(m => acc.Type)</td>
                <td>@Html.DisplayFor(m => acc.IsActive)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ID = acc.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { ID = acc.ID })
                </td>
            </tr>
        }
    </tbody>
</table>